<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylemovie.css">
</head>
<body>
    <body bgcolor="black">
        <div class="container" style="width:1250px;" aligh="center">

            <div id="one" class="item">뭐보지?</div>
            <div id="two" class="item"><img  src="영화 이미지/부산행.PNG" width=200px; height=310px;></div>
            <div id="three" class="item">
                <iframe width="622" height="310" src="https://www.youtube.com/embed/RAc0nhwgGY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="four" class="item">
                <h1>부산행</h1><h4>train to busan(2016)</h4>
                평점:
                장르:액션, 스릴러
                개봉일: 2016.07.20 
                상영시간: 118분
                감독: 연상호
                배우: 공유, 정유미, 마동석
                줄거리:
            </div>
            <div id="five" class="item">리뷰</div>
            


            </div>
</body>
</html>