<html>
    <head>
        <style>
            .my{
                background-color: black;
                color: white;
                height:100px;
                width:250px;
                font-size:20px;
               
                
            }

            #seven{
               
    background-color: black;
    align-content: center;
    vertical-align: middle;
    
    height:80;
    width:250;


            }
        </style>
    </head>
    <body>
        <div class="my">
            <p></p>
            김수민님<p></p>
            환영합니다
        </div>

        <div id="seven" class="item">
            <div>
                <button onclick="window.open('http://localhost:3000/myreview')" id="myroom" type="button" 
                style="width:250px; height:60px; background-color:crimson; border-color:red; border-radius:7px;";>
                <h3 style="color:white;">내 리뷰 바로가기</h3>
                </button>
            </div>

        
    </body>
</html>