<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesignup.css">
        <meta charset="utf-8">
    </head>
    <body bgcolor="black">
        <div class="container" style="width:1250px;" >
            <div id="one" class="item">뭐보지?</div>
            <div id="two" class="item">뭐보지?에 오신걸 환영합니다.</div>
            <div id="three" class="item"> 
            <form action="http://localhost:3000/users/a" method="post">
             
                <h3> 이 름:  <input class="sign" name="name" type="text"></h3>
                <h3> 생년월일:  <input class="sign" name="birth" type="text" method="post"> </h3>          
                <h3> 주  소:  <input class="sign" name="address" type="text" method="post"> </h3>
                <h3> 아 이 디:  <input class="sign" name="id" type="text" method="post"> </h3>
                <h3> 비밀번호:  <input class="sign" name="pwd" type="password" method="post"> </h3>
                 <input type="submit" style="width:200px; height:60px; background-color:red; border-color:red; border-radius:7px;">
                </form>
            </div>
       </div>

    </body>
    <script>

    </script>
</html>